<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <script src="https://kit.fontawesome.com/cf9ba26aa2.js" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>MercadoLiebre</title>
</head>
<body>
    <header>
        <div class="container-header">
            <div class="logo"><img src="/static/images/logo-mercado-liebre.svg"></div>
            
            <form class="example" action="#">
                <input type="text" placeholder="Buscar productos, marcas y más" name="search">
                <a href="#"><i class="fa fa-search lupa"></i></a>
            </form>
            <div class="cuotas">
                <p class="costado"><i class="fas fa-hand-holding-usd mano"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
        </div>
       <nav>
            <ul class="izquierda">
                <li class="texto"><a href="#">Ofertas</a></li>
                <li class="texto"><a href="#">Tiendas Oficiales</a></li>
                <li class="texto"><a href="#">Vender</a></li>
                <li class="texto"><a href="#">Ayuda</a></li>
            </ul>
       
            <ul class="derecha">
                <li class="texto"><a href="#">Mis compras<i class="fas fa-shopping-basket"></i></a></li>
                <li class="texto"><a href="register.html">Creá tu cuenta<i class="far fa-id-card"></i></a></li>
                <li class="texto"><a href="login.html">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
            </ul>
        </nav>
        <!-- <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div> -->
    </header>
    <section class="banner">
        <img src="/static/images/img-home-banner.jpg" alt="Banner de ofertas">
    </section>
    <main>
        <section class="ult-visita">
            <h3>Basado en tu última visita</h3>
            <div class="articulos">
                <article>
                    <img class="imgart" src="/static/images/img-cafetera-moulinex.jpg" alt="cafetera moulinex">
                    <div class="descripcion">
                        <i class="fas fa-truck camion"></i>
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% OFF</p>
                        <h4>Cafetera Moulinex</h4>
                        
                    </div>
                </article>
            
                <article>
                    <img class="imgart" src="/static/images/img-macbook-pro-2019.jpg" alt="cafetera moulinex">
                    <div class="descripcion">
                        <i class="fas fa-truck camion"></i>
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% OFF</p>
                        <h4>MacBook Pro 2019</h4>
                    </div>
                </article>
            
            
                <article>
                    <img class="imgart" src="/static/images/img-samsung-galaxy-s10.jpg">
                    <div class="descripcion">
                        <i class="fas fa-truck camion"></i>
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% OFF</p>
                        <h4>Sansung Galaxy S10</h4>
                        
                    </div>
                </article>
           
         
                <article>
                    <img class="imgart" src="/static/images/img-tv-samsung-smart.jpg">
                    <div class="descripcion">
                        <i class="fas fa-truck camion"></i>
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% OFF</p>
                        <h4>SmartTv Samsung 43"</h4>
                    </div>
                </article>
            </div>
        </section>
        <section class="oferta">
            <h3>Ofertas</h3>
            <div class="articulos">
                <article>
                    <img class="imgart" src="/static/images/img-cafetera-moulinex.jpg" alt="cafetera moulinex">
                    <div class="descripcion">
                        <i class="fas fa-truck camion"></i>
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% OFF</p>
                        <h4>Cafetera Moulinex</h4>
                        
                    </div>
                </article>
            
                <article>
                    <img class="imgart" src="/static/images/img-macbook-pro-2019.jpg" alt="cafetera moulinex">
                    <div class="descripcion">
                        <i class="fas fa-truck camion"></i>
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% OFF</p>
                        <h4>MacBook Pro 2019</h4>
                    </div>
                </article>
            
                <article>
                    <img class="imgart" src="/static/images/img-samsung-galaxy-s10.jpg">
                    <div class="descripcion">
                        <i class="fas fa-truck camion"></i>
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% OFF</p>
                        <h4>Sansung Galaxy S10</h4>
                        
                    </div>
                </article>
           
                <article>
                    <img class="imgart" src="/static/images/img-tv-samsung-smart.jpg">
                    <div class="descripcion">
                        <i class="fas fa-truck camion"></i>
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% OFF</p>
                        <h4>SmartTv Samsung 43"</h4>
                    </div>
                </article>
            </div>
        </section>
    </main>
    <footer>
        <div class="container-footer">
            <div class="footer">
                <div class="container-icono"><i class="fa-solid fa-credit-card icono"></i></div>
                <div class="titulofooter">
                    <h6>Pagá con tarjeta o en efectivo</h6>
                    <p class="textofooter">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                </div>
            </div>
            <div class="footer">
                <div class="container-icono">
                    <i class="fa-solid fa-gift icono ">

                    </i>
                </div>
                <div class="titulofooter">
                    <h6>Envío gratis desde $ 2.500</h6>
                    <p class="textofooter">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
                </div>
            </div>
            <div class="footer">
                <div class="container-icono">
                    <i class="fa-solid fa-user-shield icono"></i>
                </div>
                <div class="titulofooter">
                    <h6>Seguridad, de principio a fin</h6>
                    <p class="textofooter">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,porque estás siempre protegid@.</p>
                </div>
            </div>
            
        </div>
        <div class="ultimofooter">
            <p class="textofooter">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </footer>