/* TODO */

*{
    font-family: 'Roboto';
    margin: 0;
}
/*  */

/* HEADER */

header{
    background-color: #EAC926;
    height: 105px;
    position: relative;
}
.logo{
    width: fit-content;
    display: inline;
    height: fit-content;
}
.logo img{
    width: 200px;
    height: 50px;
}

.texto{
    font-size: 12px;
}

div.container-header{
    display: flex;
    
}
form.example{
    position: relative;
    top: 10px;
    left: 15px;
}

form.example input[type=text] {
    padding: 5px;
    border: 1px solid white; 
    background: white;
    width:600px;
    border-radius: 4px;
    border-right: 0ch;
}

form.example a .lupa{
    border: 1px solid white; 
    position: absolute;
    margin-left: -7px;
    width: 30px;
    padding: 5px;
    background:white;
    color: #666;
    height: 16px;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0%;
    border-left: solid 1px #ebebeb;
}

div.cuotas{
    display: flex;
    top: 20px;
    position: absolute;
    right: 20px;
}

/* ICONO MANO */

.mano{
    color: black;
    border: none;
}


/* FIN HEADER */

/* MENU */

.izquierda{
    display: flex;
    justify-content: space-between;
    float:left;
    align-content: center;
    width: 25%;
    position: absolute;
    bottom: 20px;

}

.izquierda li{
    list-style: none; 
}

li a{
    color: black;
    text-decoration: none;
}

.derecha{
    display: flex;
    justify-content: space-between;
    align-content: center;
    position: absolute;
    width: 25%;
    right: 20px;
    bottom: 20px;
}
.derecha li{
    list-style: none;
}

.derecha i{
    color: black;
    border: none;
} 

/* FIN MENU */

/* MENU HAMBURGUESA */

.burger-menu{
    background-color: #1259c3;
    color: white;
    margin-left: 50%;
    padding: 5px 7px;
    border-radius: 3px;
    width: fit-content;
}

/* FIN MENU HAMBURGUESA */

/* BANNER */

.banner{
    margin-top: 0px;
}

.banner img{
    width: 100%;
}

/* FIN BANNER */

/* MAIN */

main{
    width: 100%;
    background-color: #ebebeb;
    align-items: center;
    margin-top: -25px;
}

/* ARTICULOS */

main section article{
    background-color: #fff;    
    margin: 10px 0px;
}

article{
    width: 250px;
    height: 320px;
    
}

main section article img{
    width: 240px;
    height: 250px;
}

i, .descuento{
    color: #39b54a;
    padding: 2px;
}

.articulos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

article .articulos, .camion{
    display: block;
    font-size: 16px;
    padding: 5px;
    border: 1px solid #39b54a;
    border-radius: 50%;
    background-color: #FFF;
    position: absolute;
    margin-left: 210px;
    margin-top: -15px;
}

/* DIV DESCRIPCION */

.descripcion{
    width: 250px;
    height: 65px;
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #ebebeb;
    position: relative;
}

/* TEXTO DENTRO DEL DIV DESCRIPCION */

div.descripcion p{
    display: inline;
    padding-top: 20px;
}

.precio{
    font-size: 18px;
    width: fit-content;
    padding-left: 20px;
}

.descuento{
    font-size: 16px;
    font-weight: normal;
    width: fit-content;
    padding-left: 45px;
    margin-top: 2px;
}

/* NOMBRE ARTICULO */

h4{
    font-weight: normal;
    font-size: 16px;
    color: #666;
    display: none;
    margin-top: 20px;
}

/* NOMBRE SECCION */

h3{
    font-size: 24px;
    color: #666;
    padding: 35px 10px 10px 10px;
    margin-left: 22px;
}

/* DIV SECCIONES */

div.ult-visita, div.oferta{
    display: flex;
    flex-wrap: wrap;
}

/* FIN ARTICULOS */

/* FIN MAIN*/

/* FOOTER */

.container-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 155px;
    background-color: white;
}
.footer {
    background-color: white;
    padding: 15px;
    box-shadow : 0px 0px 10px rgb ( 100 , 100 , 100 );
}

.icono{
    color: #1259c3;
    width: 2em;
    height: 2em;
}
.icono:hover{
    color: #0022AA;
}
.container-icono{
    
    margin-left: 45%;
    margin-top: 25px;
   
}
 
h6{
    font-size: 12px;
    text-align: center;
    color: #666;;
    margin-top: 2px;
}

.textofooter{
    font-size: 12px;
    text-align: center;
    width: 350px; 
    color: #666;
    margin-top: 2px; 
}

.ultimofooter{
    margin-left: 0;
    
}  

/* FIN FOOTER */

